.nav {
	max-width: 425px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 65px;
	display: flex;
	gap: 56px;
	align-items: center;
	justify-content: center;
	background: #fff;
}

.nav_item.active {
	background-color: var(--color-01);
}
